
<div
  class="collection-page__sort-filter
  {% if collection.current_vendor %}vendor-collection{% endif %}"
  data-sorting>
  <label>{{ 'collections.collection_sorting.sort_by' | t }}:</label>

  <select>
    {% for option in collection.sort_options %}
      <option
        value="{{ option.value }}"
        {% if option.value == collection.sort_by %}selected{% endif %}
      >
        {{ option.name }}
      </option>
    {% endfor %}
  </select>
</div>
