{% if settings.display-product-quantity-option %}
  <div class="selector-wrapper quantity">
    <label>{{ 'general.quantity' | t }}</label>
    <input type="text" class="product-quantity field" name="quantity" value="1">
  </div>
{% else %}
  <input type="hidden" name="quantity" value="1">
{% endif %}













<!-- NEW CODE -->
{% comment %}
<label for="quantity">Qty: </label>
<select id="quantity" name="quantity">
{% for i in (1..5) %}
  <option value="{{ i }}">{{ i }}</option>
{% endfor %}
</select>
{% endcomment %}


<!-- OLD MARKUP -->
{% comment %}
<div class="selector-wrapper">
  <label for="product-select-option-0" style="width: 59px;">Size</label>

  <div class="pxuSexyDropWrapper" style="position: relative;">
      <select class="single-option-selector processed" data-option="option1" id="product-select-option-0" style="opacity: 0; position: absolute; z-index: 10; top: 5.5px;">
          <option value="S/M">
              S/M
          </option>

          <option value="M/L">
              M/L
          </option>
      </select><span class="toggle"></span>

      <div class="pxuSexyDrop">
          S/M
      </div>
  </div>
</div>
{% endcomment %}
<!-- OLD MARKUP -->




<!-- Input field old code -->
{% comment %}

{% if settings.display-product-quantity-option %}
  <div class="selector-wrapper quantity">
    <label>{{ 'general.quantity' | t }}</label>
    <input type="text" class="product-quantity field" name="quantity" value="1">
  </div>
{% else %}
  <input type="hidden" name="quantity" value="1">
{% endif %}

{% endcomment %}

<!-- END Input field old code -->
