<div class="main-container col1-layout" style="margin-top: 0px;">
  <div class="main">
    <div class="col-main">
      <div id="home">
        <div>
          <div>
            <div class="slot hero">
              <div class="inner">
                <a href="/products/swirling-column-necklace"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16002_COLL95_058_b94177a8-1e52-4cd1-bb68-eb5a328c6948.jpg?16910938730426315719"></a>
              </div>
            </div>
            <div class="slot tall">
              <div class="inner">
                <a href="/products/asymmetrical-diamond-necklace"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16003_N027-14KYG_524.jpg?12483956714326052503">
                <div class="title" style="color: #000000;">
                  Shop Fine Necklaces<svg class="arrow" viewbox="0 0 56 100">
                  <polygon points="0,0 56,50 0,100"></polygon></svg>
                </div></a>
              </div>
            </div>
            <div class="slot text">
              <div class="inner">
                <a href="/collections/vintage">
                <div class="title-lockup">
                  <div class="headline">
                    SEE WHAT'S NEW
                  </div>
                  <div class="text">
                    Shop our vintage collection<svg class="arrow" viewbox="0 0 56 100">
                    <polygon points="0,0 56,50 0,100"></polygon></svg>
                  </div>
                </div></a>
              </div>
            </div>
            <div class="slot reg">
              <div class="inner">
                <a href="/collections/rings"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16003_R042-14KYG_815-Edited.jpg?12483956714326052503">
                <div class="title" style="color: #000000;">
                  Shop Rings<svg class="arrow" viewbox="0 0 56 100">
                  <polygon points="0,0 56,50 0,100"></polygon></svg>
                </div></a>
              </div>
            </div>
          </div>
          <div>
            <div class="slot reg">
              <div class="inner">
                <a href="/products/block-neoprene-earrings-grey"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/2106/4649/files/ROW16003_ORE20-GRAY_159-Edited.jpg?14057820462971222091">
                <div class="title" style="color: #000000;">
                  Shop Statement Earrings<svg class="arrow" viewbox="0 0 56 100">
                  <polygon points="0,0 56,50 0,100"></polygon></svg>
                </div></a>
              </div>
            </div>
            <div class="slot tall">
              <div class="inner">
                <a href="/products/glacial-earrings"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16003_GL16_1093.jpg?1248395671432605250">
                <div class="title" style="color: #ffffff;">
                  Shop Glass Drop Collection<svg class="arrow" viewbox="0 0 56 100">
                  <polygon points="0,0 56,50 0,100"></polygon></svg>
                </div></a>
              </div>
            </div>
            <div class="slot reg">
              <div class="inner">
                <a href="/products/stud-earrings-with-pearl"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16003_E080-14KYG_605-Edited.jpg?12483956714326052503">
                <div class="title" style="color: #ffffff;">
                  Shop Fine Earrings<svg class="arrow" viewbox="0 0 56 100">
                  <polygon points="0,0 56,50 0,100"></polygon></svg>
                </div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="home-mobile">
        <div class="slot">
          <a href="/products/swirling-column-necklace"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16002_COLL95_058-sm.jpg?12483956714326052503">
          <div class="title" style="color: #000000;">
            Shop Statement Necklaces<svg class="arrow" viewbox="0 0 56 100">
            <polygon points="0,0 56,50 0,100"></polygon></svg>
          </div></a>
        </div>
        <div class="slot">
          <a href="/products/asymmetrical-diamond-necklace"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16003_N027-14KYG_524-sm.jpg?12483956714326052503">
          <div class="title" style="color: #000000;">
            Shop Fine Necklaces<svg class="arrow" viewbox="0 0 56 100">
            <polygon points="0,0 56,50 0,100"></polygon></svg>
          </div></a>
        </div>
        <!--<div class="slot">
          <a href="/collections/vintage"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/2106/4649/files/ROW16003_GL16_1093.jpg?14057820462971222091">
          <div class="title" style="color: #000000;">
            SEE WHAT'S NEW<br>Shop our vintage collection
            <svg class="arrow" viewbox="0 0 56 100">
            <polygon points="0,0 56,50 0,100"></polygon></svg>
          </div></a>
        </div>-->
        <div class="slot">
          <a href="/collections/rings"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16003_R042-14KYG_815-Edited.jpg?12483956714326052503">
          <div class="title" style="color: #000000;">
            Shop Rings<svg class="arrow" viewbox="0 0 56 100">
            <polygon points="0,0 56,50 0,100"></polygon></svg>
          </div></a>
        </div>
        <div class="slot">
          <a href="/products/block-neoprene-earrings-grey"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16003_ORE20-GRAY_159-Edited.jpg?12483956714326052503">
          <div class="title" style="color: #000000;">
            Shop Statement Earrings<svg class="arrow" viewbox="0 0 56 100">
            <polygon points="0,0 56,50 0,100"></polygon></svg>
          </div></a>
        </div>
        <div class="slot">
          <a href="/products/glacial-earrings"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16003_GL16_1093-sm.jpg?12483956714326052503">
            <div class="title" style="color: #ffffff;">
              Shop Glass Drop Collection<svg class="arrow" viewbox="0 0 56 100">
              <polygon points="0,0 56,50 0,100"></polygon></svg>
            </div></a>
        </div>
        <div class="slot">
          <a href="/products/stud-earrings-with-pearl"><img alt="" class="stack" src="https://cdn.shopify.com/s/files/1/0186/6476/files/ROW16003_E080-14KYG_605-Edited.jpg?12483956714326052503">
          <div class="title" style="color: #ffffff;">
            Shop Fine Earrings<svg class="arrow" viewbox="0 0 56 100">
            <polygon points="0,0 56,50 0,100"></polygon></svg>
          </div></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-area">

  {% if settings.home-sections-order != blank %}
    {% assign sections = settings.home-sections-order | split: "-" %}

    {% for section in sections %}
      {% case section %}
        {% when 'A' %}
          {% include 'home-welcome-message' %}
        {% when 'B' %}
          {% include 'home-featured-collections' %}
        {% when 'C' %}
          {% include 'home-featured-products' %}
        {% when 'D' %}
          {% include 'home-featured-blog' %}
        {% when 'E' %}
          {% include 'home-instagram-widget' %}
        {% when 'F' %}
          {% include 'home-twitter-widget' %}
        {% when 'G' %}
          {% include 'home-as-seen-on' %}
      {% endcase %}
    {% endfor %}

  {% elsif settings.home-sections-order == blank and settings.show-slideshow != true %}
    {% include 'home-onboarding' %}
  {% endif %}

</div>
