<section class="about content content-area">

  {% include 'breadcrumbs' %}

  <div class="page-title">
    <h1 class="label">{{ page.title }}</h1>
  </div>

  <div class="text-content-wrap clearfix">

    <div class="rte clearfix text-content">
      {{ page.content }}
    </div>

    <div class="side-img">
      <img alt="" src="//cdn.shopify.com/s/files/1/0186/6476/files/dream-fiat500.png?9728913170308024245" class="about-img" />
    </div>

  </div>

</section>
